# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
# .env - Uncomment if you commit default values (safe if no secrets)
# .env.development - Uncomment if you commit development defaults (safe if no secrets)
# .env.test - Uncomment if you commit test defaults (safe if no secrets)
# .env.production - Uncomment if you commit production defaults (safe if no secrets)

# Environment keys (private decryption keys)
.env.keys
.env.*.keys

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
